 .u-section-1 {
  background-position: 50% 50%;
  background-repeat: no-repeat, no-repeat;
  background-image: url('images/tophm.png'), linear-gradient(to bottom, rgba(173, 204, 233, 0.8), rgba(173, 204, 233, 0.8));
  background-size: cover, cover;
}

.u-section-1 .u-sheet-1 {
  min-height: 995px;
}

.u-section-1 .u-group-1 {
  width: 748px;
  min-height: 476px;
  height: auto;
  margin: 301px auto 60px 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 4.5rem;
  margin: 54px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  margin: 13px 0 0;
}

@media (max-width: 1199px) {
   .u-section-1 {
    background-position: 50% 0%, 50% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 654px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 217px;
    margin-bottom: -39px;
    margin-left: -50px;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 501px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 376px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    background-position: 33.43% 50%, 100% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 237px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    width: auto;
    margin-top: 47px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 19px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 925px;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1193px;
  margin: 60px -53px 60px auto;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 753px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 19px 25px;
}

.u-section-2 .u-text-1 {
  margin: 0 auto 0 12px;
}

.u-section-2 .u-text-2 {
  font-size: 1.875rem;
  margin: 18px 0 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 753px;
}

.u-section-2 .u-container-layout-2 {
  padding: 14px 0;
}

.u-section-2 .u-gallery-1 {
  height: 695px;
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-2 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-2 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-2 .u-back-image-2 {
  object-position: 0% 50%;
}

.u-section-2 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-carousel-item-4 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-carousel-item-5 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-carousel-item-6 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-gallery-item-7 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-gallery-item-8 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
  padding: 4px;
}

.u-section-2 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
  padding: 4px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 765px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 940px;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 814px;
  }

  .u-section-2 .u-layout-cell-2 {
    background-position: 50% 50%;
    min-height: 593px;
  }

  .u-section-2 .u-carousel-control-1 {
    left: 8px;
  }

  .u-section-2 .u-carousel-control-2 {
    right: 8px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 272px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 1054px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-carousel-control-1 {
    left: 6px;
  }

  .u-section-2 .u-carousel-control-2 {
    right: 6px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 372px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 556px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.6666666666666665rem;
  }

  .u-section-2 .u-carousel-control-1 {
    left: 5px;
  }

  .u-section-2 .u-carousel-control-2 {
    right: 5px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-carousel-control-1 {
    left: 3px;
  }

  .u-section-2 .u-carousel-control-2 {
    right: 3px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 50vh;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 37px;
  margin-bottom: 37px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 445px;
}

.u-section-3 .u-container-layout-1 {
  padding: 0;
}

.u-section-3 .u-gallery-1 {
  height: 422px;
  width: 541px;
  margin: 0 auto;
}

.u-section-3 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-3 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
  padding: 4px;
}

.u-section-3 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
  padding: 4px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 445px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 16px;
}

.u-section-3 .u-text-1 {
  margin: 24px auto 0 14px;
}

.u-section-3 .u-text-2 {
  margin: 34px 0 0 14px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-layout-cell-1 {
    background-position: 50% 50%;
    min-height: 367px;
  }

  .u-section-3 .u-gallery-1 {
    width: 465px;
  }

  .u-section-3 .u-carousel-control-1 {
    left: 8px;
  }

  .u-section-3 .u-carousel-control-2 {
    right: 8px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 367px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-gallery-1 {
    width: 355px;
  }

  .u-section-3 .u-carousel-control-1 {
    left: 6px;
  }

  .u-section-3 .u-carousel-control-2 {
    right: 6px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-carousel-control-1 {
    left: 5px;
  }

  .u-section-3 .u-carousel-control-2 {
    right: 5px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 843px;
  }

  .u-section-3 .u-gallery-1 {
    width: 340px;
  }

  .u-section-3 .u-carousel-control-1 {
    left: 3px;
  }

  .u-section-3 .u-carousel-control-2 {
    right: 3px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 1519px;
}

.u-section-4 .u-text-1 {
  margin: 52px auto 0;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 34px;
  margin-bottom: 26px;
}

.u-section-4 .u-image-1 {
  min-height: 318px;
  background-position: 50% 50%;
  background-image: url("images/9c1bee20-fde5-4c9b-9c4a-fbb97d89cb91.jpeg");
  background-size: cover;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 318px;
}

.u-section-4 .u-container-layout-2 {
  padding: 0 0 30px;
}

.u-section-4 .u-text-2 {
  font-weight: 700;
  font-size: 1.5rem;
  width: 225px;
  margin: 30px auto 0;
}

.u-section-4 .u-text-3 {
  width: 225px;
  margin: 20px auto 0;
}

.u-section-4 .u-image-2 {
  min-height: 318px;
  background-position: 50% 50%;
  background-image: url("images/image.png");
  background-size: cover;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px 0;
}

.u-section-4 .u-layout-cell-4 {
  min-height: 318px;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px;
}

.u-section-4 .u-text-4 {
  font-weight: 700;
  margin: 0;
}

.u-section-4 .u-text-5 {
  margin: 20px 0 0;
}

.u-section-4 .u-layout-cell-5 {
  min-height: 397px;
}

.u-section-4 .u-container-layout-5 {
  padding: 30px;
}

.u-section-4 .u-text-6 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0;
}

.u-section-4 .u-text-7 {
  margin: 20px 0 0;
}

.u-section-4 .u-image-3 {
  min-height: 318px;
  background-position: 16.96% 50%;
  background-image: url("images/01ec84d3-4795-4875-af0c-515a153c2551.jpeg");
  background-size: cover;
}

.u-section-4 .u-container-layout-6 {
  padding: 0;
}

.u-section-4 .u-layout-cell-7 {
  min-height: 318px;
}

.u-section-4 .u-container-layout-7 {
  padding: 30px;
}

.u-section-4 .u-text-8 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0;
}

.u-section-4 .u-text-9 {
  margin: 20px 0 0;
}

.u-section-4 .u-image-4 {
  min-height: 318px;
  background-position: 100% 50%;
  background-image: url("images/WhatsAppImage2025-04-08at21.44.59.jpeg");
  background-size: cover;
}

.u-section-4 .u-container-layout-8 {
  padding: 0;
}

.u-section-4 .u-image-5 {
  min-height: 318px;
  background-image: url("images/ecb92712-db58-4d84-a531-d6d996c02641.jpeg");
}

.u-section-4 .u-container-layout-9 {
  padding: 0;
}

.u-section-4 .u-layout-cell-10 {
  min-height: 318px;
}

.u-section-4 .u-container-layout-10 {
  padding: 30px;
}

.u-section-4 .u-text-10 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 20px 10px 0;
}

.u-section-4 .u-text-11 {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 0;
}

.u-section-4 .u-image-6 {
  min-height: 318px;
  background-image: url("images/WhatsAppImage2025-04-15at07.46.29.jpeg");
}

.u-section-4 .u-container-layout-11 {
  padding: 0;
}

.u-section-4 .u-layout-cell-12 {
  min-height: 474px;
}

.u-section-4 .u-container-layout-12 {
  padding: 0;
}

.u-section-4 .u-text-12 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 64px 25px 0;
}

.u-section-4 .u-text-13 {
  margin: 34px 25px 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1364px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 87px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-bottom: 3px;
  }

  .u-section-4 .u-image-1 {
    min-height: 262px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 262px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-4 .u-image-2 {
    min-height: 262px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 262px;
  }

  .u-section-4 .u-layout-cell-5 {
    min-height: 327px;
  }

  .u-section-4 .u-image-3 {
    min-height: 262px;
  }

  .u-section-4 .u-layout-cell-7 {
    min-height: 262px;
  }

  .u-section-4 .u-image-4 {
    min-height: 262px;
  }

  .u-section-4 .u-image-5 {
    min-height: 262px;
    background-position: 47.64% 50%;
    background-size: cover;
  }

  .u-section-4 .u-layout-cell-10 {
    min-height: 262px;
  }

  .u-section-4 .u-text-10 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4 .u-text-11 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-image-6 {
    min-height: 262px;
    background-size: cover;
    background-position: 22.97% 50%;
  }

  .u-section-4 .u-layout-cell-12 {
    min-height: 391px;
  }

  .u-section-4 .u-text-12 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-13 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 2588px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 52px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-bottom: -138px;
  }

  .u-section-4 .u-image-1 {
    min-height: 201px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
    width: 180px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
    width: 180px;
  }

  .u-section-4 .u-image-2 {
    min-height: 423px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-4 .u-image-3 {
    min-height: 423px;
  }

  .u-section-4 .u-layout-cell-7 {
    min-height: 100px;
  }

  .u-section-4 .u-image-4 {
    min-height: 201px;
  }

  .u-section-4 .u-image-5 {
    min-height: 201px;
  }

  .u-section-4 .u-layout-cell-10 {
    min-height: 100px;
  }

  .u-section-4 .u-image-6 {
    min-height: 201px;
  }

  .u-section-4 .u-layout-cell-12 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 4645px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 141px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-bottom: -180px;
  }

  .u-section-4 .u-image-1 {
    min-height: 603px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 160px;
  }

  .u-section-4 .u-text-2 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-text-3 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-image-2 {
    min-height: 635px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-3 {
    min-height: 635px;
  }

  .u-section-4 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-4 {
    min-height: 603px;
  }

  .u-section-4 .u-image-5 {
    min-height: 603px;
  }

  .u-section-4 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-6 {
    min-height: 603px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 3988px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 34px;
    margin-left: 33px;
    margin-right: 33px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-bottom: 58px;
  }

  .u-section-4 .u-image-1 {
    min-height: 380px;
    order: 1;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 190px;
    order: 0;
  }

  .u-section-4 .u-container-layout-2 {
    padding-bottom: 0;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: 33px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-top: 12px;
    margin-right: 8px;
    margin-left: 12px;
  }

  .u-section-4 .u-image-2 {
    min-height: 400px;
    order: 3;
  }

  .u-section-4 .u-layout-cell-4 {
    order: 2;
  }

  .u-section-4 .u-text-4 {
    width: auto;
  }

  .u-section-4 .u-image-3 {
    min-height: 400px;
  }

  .u-section-4 .u-layout-cell-7 {
    min-height: 278px;
  }

  .u-section-4 .u-container-layout-7 {
    padding-left: 8px;
    padding-right: 8px;
  }

  .u-section-4 .u-text-8 {
    width: auto;
    margin-top: 20px;
    margin-left: 4px;
  }

  .u-section-4 .u-text-9 {
    width: auto;
    margin-left: 2px;
    margin-right: 2px;
  }

  .u-section-4 .u-image-4 {
    min-height: 380px;
  }

  .u-section-4 .u-image-5 {
    min-height: 380px;
    order: 1;
  }

  .u-section-4 .u-layout-cell-10 {
    order: 0;
  }

  .u-section-4 .u-image-6 {
    min-height: 380px;
    order: 3;
  }

  .u-section-4 .u-layout-cell-12 {
    min-height: 230px;
    order: 2;
  }

  .u-section-4 .u-text-13 {
    width: auto;
    margin-top: 20px;
    margin-right: -2px;
    margin-left: 2px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 515px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 40px;
  margin-bottom: 40px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 384px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-text-1 {
  margin: 10px auto 0 0;
}

.u-section-5 .u-text-2 {
  margin: 34px 0 0;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 445px;
}

.u-section-5 .u-container-layout-2 {
  padding: 0;
}

.u-section-5 .u-gallery-1 {
  height: 435px;
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-5 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-5 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-5 .u-back-image-3 {
  object-position: 50% 25.15%;
}

.u-section-5 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-carousel-item-4 {
  margin-right: 0;
}

.u-section-5 .u-back-image-4 {
  object-position: 50% 10.48%;
}

.u-section-5 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
  padding: 4px;
}

.u-section-5 .u-carousel-control-2 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  right: 10px;
  padding: 4px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 432px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 317px;
  }

  .u-section-5 .u-layout-cell-2 {
    background-position: 50% 50%;
    min-height: 367px;
  }

  .u-section-5 .u-carousel-control-1 {
    left: 8px;
  }

  .u-section-5 .u-carousel-control-2 {
    right: 8px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 215px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-2 {
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 281px;
  }

  .u-section-5 .u-carousel-control-1 {
    left: 6px;
  }

  .u-section-5 .u-carousel-control-2 {
    right: 6px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 422px;
  }

  .u-section-5 .u-carousel-control-1 {
    left: 5px;
  }

  .u-section-5 .u-carousel-control-2 {
    right: 5px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 824px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 266px;
  }

  .u-section-5 .u-carousel-control-1 {
    left: 3px;
  }

  .u-section-5 .u-carousel-control-2 {
    right: 3px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 240px;
}

.u-section-6 .u-text-1 {
  font-size: 1.5rem;
  width: 780px;
  font-weight: 400;
  margin: 10px auto 0;
}

@media (max-width: 991px) {
  .u-section-6 .u-text-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-text-1 {
    font-size: 1rem;
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 266px;
  }

  .u-section-6 .u-text-1 {
    width: 340px;
    margin-top: 26px;
    margin-bottom: 10px;
  }
}
#loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #478AC9, #478AC9);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  animation: fadeOut 1s ease 2s forwards;
}

#loading-screen img {
  width: 150px;
  height: auto;
  animation: scaleUp 2s ease;
}

#loading-screen h1, #loading-screen p {
  color: white;
  margin: 10px 0;
  opacity: 0;
  animation: fadeIn 2s ease forwards;
}

#loading-screen h1 {
  font-size: 2rem;
  animation-delay: 0.5s;
}

#loading-screen p {
  font-size: 1.2rem;
  animation-delay: 1s;
}

@keyframes scaleUp {
  0% {
      transform: scale(0);
      opacity: 0;
  }
  100% {
      transform: scale(1);
      opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
      opacity: 1;
  }
  100% {
      opacity: 0;
      visibility: hidden;
  }
}
.no-scroll {
  overflow: hidden !important;
}