.u-section-1 .u-sheet-1 {
  min-height: 584px;
}

.u-section-1 .u-form-1 {
  height: 406px;
  margin: 50px 0 0 455px;
}

.u-section-1 .u-text-1 {
  font-size: 1.5rem;
  margin: -317px 715px 60px -11px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-form-1 {
    height: 387px;
    margin-top: 54px;
    margin-left: 443px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -319px;
    margin-right: 504px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-form-1 {
    margin-left: 223px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 20px;
    margin-right: 284px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-form-1 {
    margin-left: 43px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 104px;
    font-size: 1.3333333333333333rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 794px;
  }

  .u-section-1 .u-form-1 {
    margin-top: 389px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-1 {
    margin-top: -704px;
    margin-right: 0;
  }
}